//nav
.menu-section {
  position: fixed;
  left: 0; top: 0;
  z-index: 200;
  width: 100%;
  min-width: 1200px;
  height: 60px;
  overflow: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
  .name {
    display: inline-block;
    margin-right: auto;
    height: 50px;
    padding: 5px 0px 0 50px;
    line-height: 50px;
    color: #000000;
    font-size: 25px;
  }
  .one,
  .two,
  .three {
    width: 100%;
    height: 5px;
    background-color: #000000;
    margin: 6px auto;
    backface-visibility: hidden;
    transition-duration: 0.3s;
  }
  .menu-toggle {
    position: absolute;
    top: 10px;  right: 50px;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }
  .menu-toggle.on .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #ffffff;
  }
  .menu-toggle.on .two {
    opacity: 0;
  }
  .menu-toggle.on .three {
    transform: rotate(-45deg) translate(8px, -10px);
    background-color: #ffffff;
  }
  .menu-section.on {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ffffff;
    position: absolute;
  }
  .searchContainer {
    position: relative;
    width: 350px;
    margin: 20px 110px 0 0;
    display: inline-block;
  }
  .search {
    position: absolute;
    right: -5px;
    width: 0px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    transition: width 0.5s ease;
  }
  .searchBtn {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 30px;
    height: 28px;
    border: 0;
    outline: none;
    background: none;
  }
  .icon-sousuo {
    font-size: 25px;
  }
  .searchDown {
    display: none;
  }
}

//menu
.menuContainer {
  z-index: 100;
  display: none;
  position: absolute;
  top: 0; left: 0;
  opacity: 1;
  width: 100%;
  min-width: 1200px;
  .menuBg {
    width: 100%; 
    height: 100%;
    background: #000000;
    opacity: 0.7;
  }
  .menu {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .list {
      width: 35%;
      transform: skewX(-15deg) translateX(-80px);
      transition: all 1s ease;
      background: #ffffff;
      text-align: center;
      font-size: 50px;
      list-style: none;
      opacity: 0;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
        color: #000000;
      }
    }
    .list:nth-child(2n) {
      background: #000000;
      a {
        color: #ffffff;
      }
    }
  }
}
.menuContainer2 {
  display: block;
  position: absolute;
  top: 0; left: 0;
  opacity: 1;
  width: 100%;

//呼入动画
.fadeInUp {
  .contact {
    animation: fadeInUp 2s ease;
  }
  .blog {
    animation: fadeInUp 2s ease .5s;
  }
  .about {
    animation: fadeInUp 2s ease 1s;
  }
  .home {
    animation: fadeInUp 2s ease 1.5s;
  }
}
@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: skewX(-15deg) translateX(-100px);
  }
  100%{
    opacity: 0.8;
    transform: skewX(-15deg) translateX(-80px);
  }
}

//呼出动画
.fadeInDown {
  .list {
    opacity: 0.8;
  }
  .home {
    animation: fadeInDown 2s ease forwards;
  }
  .about {
    animation: fadeInDown 2s ease .5s forwards;
  }
  .blog {
    animation: fadeInDown 2s ease 1s forwards;
  }
  .contact {
    animation: fadeInDown 2s ease 1.5s forwards;
  }
}
@keyframes fadeInDown {
  0%{
    opacity: 0.8;
    transform: skewX(-15deg) translateX(-80px);
  }
  100%{
    opacity: 0;
    transform: skewX(-15deg) translateX(-100px);
  }
}

  .menu {
    .listHover {
      opacity: 0.8;
      transform: skewX(-15deg) translateX(-80px);
      &:hover {
        opacity: 1;
        transform: skewX(-15deg) translateX(-90px);
      }
    }
  }
} 

.menuDown {
  opacity: 0;
  transition-duration: 2s;
}
.searchList {
  position: absolute;
  top: 30px; right: 118px;
  height: 145px;
  padding: 0;
  z-index: 20;
  opacity: 0.8;
  overflow: auto;
  .blogList {
    position: relative;
    width: 330px;
    height: 60px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #161823;
    color: #ffffff;
    a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 330px;
      height: 70px;
    }
    h3 {
      height: 35px;
      line-height: 35px;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .span {
      display: inline-block;
      width: 50px;
      height: 25px;
      font-size: 14px;
    }
  }
  .blogList:last-child {
    border-bottom: 1px solid #cccccc;
  }
  .blogList:hover {
    background: rgb(233, 241, 246);
    color: #000000;
  }
}
