<!--
    首页canvas动画
-->

<div class="indexContainer">
  <canvas id="bgCanvas" class="bgCanvas"></canvas>
  <div class="t_wrap">
    <p class="title">tangyuan</p>
  </div>
</div>
<%- partial('_partial/menu') %>
