<!--
    首页canvas动画
-->
<canvas id="bgCanvas" class="bgCanvas"></canvas>

<div class="indexContainer">
  <div class="indexBg">
    <p class="title">tangyuan</p>
  </div>
</div>
<%- partial('_partial/menu') %>
