<!--
    首页menu
-->
<div class="menuContainer ">
  <div class="menuBg"></div>
    <ul class="menu">
      <li class="list about">
        <a href="/">Home</a>
      </li>
      <li class="list img ">
        <a href="/about">about</a>
      </li>
      <li class="list blog ">
        <a href="/archives">archives</a>
      </li>
      <li class="list contact ">
        <a href="/contact">contact</a>
      </li>
      
    </ul>
  </div>
</div>

<!--
    菜单栏
-->
<nav class="menu-section">
  <div class="nav">
    <span class="name">Hi friend</span>
    <div class="searchContainer">
      <input id="search" class="search" type="text" placeholder="search..." />
      <button class="searchBtn"><i class="iconfont icon-sousuo"></i></button>
    </div>
    <div class="menu-toggle">
      <div class="navBtn one"></div>
      <div class="navBtn two"></div>
      <div class="navBtn three"></div>
    </div>
  </div>
</nav>

<!--
  菜单栏搜索下拉框
-->
<ul class="searchList"></ul>