.archiveCntainer {
  padding: 50px 0 5px;
  background-color: #161823;
  .archiveContent {
    height: 100%;
    margin: -45px 5px 5px;
    padding-top: 40px;
    border: 1px solid #ffffff;
  }
  .archiveSwp {
    width: 1000px;
    margin: 0px auto;
  }
  .titleDate {
    margin: 0px 10px 0;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
  }
  .swap {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 10px 14.9px;
    padding: 0;
    transform: translateY(0px);
    transition: all 1s ease;
    &:hover{
      .T {
        animation: tAnim 1s ease;
      }
      .R {
        animation: rAnim 1s ease;
      }
      .L {
        animation: lAnim 1s ease;
      }
      .B {
        animation: bAnim 1s ease;
      }
      .content {
        background-color: #161823;
      }
    }
  }
  .span {
    position: absolute;
    top: 0; left: 0;
    list-style-type: none;
  }
  .T {
    width: 0;
    height: 399px;
    border-top: 1px solid #ffffff;
    transition: width 1s ease;
  }
  .tt {
    width: 100%;
  }
  .tAnim {
    animation: tAnim 1s ease;
  }
  @keyframes tAnim {
    0% {
      width: 100%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .R {
    width: 299px;
    height: 0;
    border-right: 1px solid #ffffff;
    transition: height 1s ease;
  }
  .rr {
    height: 100%
  }
  .rAnim {
    animation: rAnim 1s ease;
  }
  @keyframes rAnim {
    0% {
      height: 100%;
    }
    50% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .L {
    top: 400px;
    height: 0;
    width: 299px;
    border-left: 1px solid #ffffff;
    transition: all 1s ease;
  }
  .ll {
    top: 0;
    height: 100%;
  }
  .lAnim {
    animation: lAnim 1s ease;
  }
  @keyframes lAnim {
    0% {
      top: 0;
      height: 100%;
    }
    50% {
      top: 400px;
      height: 0;
    }
    100% {
      top: 0;
      height: 100%;
    }
  }
  .B {
    left: 300px;
    width: 0;
    height: 399px;;
    border-bottom: 1px solid #ffffff;
    transition: all 1s ease;
  }
  .bb {
    left: 0;
    width: 100%;
  }
  .bAnim {
    animation: bAnim 1s ease;
  }
  @keyframes bAnim {
    0% {
      left: 0;
      width: 100%;
    }
    50% {
      left: 300px;
      width: 0;
    }
    100% {
      left: 0;
      width: 100%;
    }
  }
  .content {
    position: absolute;
    top: 2px; left: 2px;
    width: 296px;
    height: 396px;
    background-color: #161823;
    transition: all 1.5s ease 0.5s;
  }
  .postBg {
    position: absolute;
    top: 2px; left: 2px;
    width: 236px;
    height: 356px;
    color: #65626B;
    opacity: 0;
    padding: 20px 30px;
    transition: opacity 2s ease;
    span {
      font-size: 14px;
    }
  }
  .bg {
    opacity: 1;
  }
  @keyframes contentAnimOn {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  .contentAnimDown {
    background-color: #e9f1f6;
    animation: contentAnimDown 2s ease forwards;
  }
  @keyframes contentAnimDown {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .block {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .bTitle {
    font-family: 'Clicker Script';
    padding-top: 50px;
    text-align: center;
    height: 200px;
  }
}
//tag
.tagContainer {
  .tagContent {
    width: 800px;
    margin: 0 auto;
    height: 50px;
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
    padding: 0
  }
  .tagM {
    margin-right: 10px;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    color: #e9f1f6;
  }
  .tags {
    position: relative;
    display: inline-block;
    margin: 15px 10px;
    padding: 0px 10px;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    .tagHref {
      color: #e9f1f6;
      text-decoration: none;
      &::after {
        position: absolute;
        bottom: 0; left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #e9f1f6;
        transform: scaleX(0);
        transition: .4s ease-in-out;
      }
      &:hover {
        &::after{
          transform: scaleX(1);
        }
      }
    }
  }
}