.main {
  position: relative;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}
.indexContainer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
//首页canvas
.indexBg {
  position: relative;    
  width: 100%;
  background-size: 100%;
  .title {
    margin: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: 'Clicker Script';
    font-size: 100px;
    font-weight: bold;
    color: #000000;
  }
}

