body {
  background: #161823;
}
.aboutContainer {
  position: relative;
  width: 1050px;
  margin: 100px auto 0;
  background: #161823;
}
.aT,.aR,.aB,.aL {
  width: 100%;
  height: 100%;
  position: absolute;
}
.aT {
  width: 0;
  border-top: 1px solid rgb(233, 241, 246);
  animation: tA 1s ease 1s forwards;
}
.aR {
  height: 0;
  border-right: 1px solid rgb(233, 241, 246);
  animation: rA 1s ease 1s forwards;
}
.aB {
  left: 953px;
  width: 0;
  border-bottom: 1px solid rgb(233, 241, 246);
  animation: bA 1s ease 1s forwards;
}
.aL {
  height: 0;
  top: 100%;
  border-left: 1px solid rgb(233, 241, 246);
  animation: lA 1s ease 1s forwards;
}
@keyframes tA {
  to {
    width: 100%;
  }
}
@keyframes rA {
  to {
    height: 100%;
  }
}
@keyframes bA {
  to {
    left: 0;
    width: 100%;
  }
}
@keyframes lA {
  to {
    top: 0;
    height: 100%
  }
}
.svg {
  margin: 50px 30px;
}
.draw {
  stroke-dasharray: 1310;
  stroke-dashoffset: 1310;
  fill: #161823;
  transition: fill 2s ease;
  animation: draw 6s ease 2s forwards;
}
@keyframes draw {
  to{
    stroke-dashoffset: 0; 
  }
}
.fill {
  stroke-dasharray: 1310; /*定义描边的虚线长度，如果提供奇数个，则会自动复制该值成偶数*/
  stroke-dashoffset: 1310; /*定义虚线描边的偏移量（在路径开始的前面，看不到）*/
  animation: fill 5s ease 2s forwards;
}
@keyframes fill {
to {
  stroke-dashoffset: 0;
  fill: #161823;
  }
}
.aboutContainer .content{
  width: 1010px;
  padding: 50px 20px 50px;
  background: rgb(233, 241, 246);
  opacity: 0;
  transition: opacity 2s ease 2s;
}
.headerImg {
  width: 200px;
  opacity: 0;
  margin: -35px auto 0;
}
.imgAnimate {
  animation: iA 2s ease forwards;
}
@keyframes iA {
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
.img {
  width: 100%;
}
.aboutContainer .content p {
  width: 100%;
  height: 18px;
  text-align: center;
  font-size: 16px;
  color: #606060;
  line-height: 5px;
  opacity: 0;
}
.pAnimate {
  animation: pA 1s ease forwards;
}
@keyframes pA {
  to {
    opacity: 1;
    line-height: 18px;
  }
}
.aboutContainer .content .year {
  margin: 30px 0;
  font-size: 14px;
  color: #9B989F;
}